# Core's dependencies are managed with Composer.
# Some modules use Bower or NPM for dependencies
webroot/node_modules/
webroot/bower_components/
credentials/

../.DS_Store
./.DS_Store
webroot/themes/.DS_Store

.idea
.idea/*

# Ignore configuration files that may contain sensitive information.
webroot/sites/*/settings.local.php
webroot/sites/*/settings.php
webroot/sites/*/services*.yml
webroot/sites/*/development.services.yml

webroot/sites/default/files
webroot/modules/custom/revenant_page/config/install/revenant_page.settings.yml