<div class="rev_login">
    <button class="rev_login_reveal">Revenant</button>
    <div class="rev_login__contaier">
        <h2>Revenant Login</h2>
        <form class="rev_login__form">
            <input type="text" title="username" placeholder="username" />
            <input type="password" title="password" placeholder="password" />
            <button type="submit" class="btn">Login</button>
            <a class="forgot" href="#">Forgot Username?</a>
        </form>
    </div>
</div>